body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 80px;

  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
  background: #e9e9e9;
}

form {
  display: flex;
}

#task-input {
  box-sizing: border-box;
  height: 40px;
  width: 300px;
  border: solid 2px gray;
  font-size: 1.5rem;
  padding: 5px;
}

#add-btn {
  box-sizing: border-box;
  border: solid 2px gray;
  font-size: 1.5rem;
  height: 40px;
  margin-left: 5px;
}

#task-list li {
  cursor: pointer;
}

#task-list li:hover {
  color: gray;
}